@use '../variables' as *;

.footer {
    background-color: #fff;
    padding: 60px 0 20px;
    border-top: 5px solid $color-primary;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__logo {
        width: 150px;

        img {
            width: 100%;
        }

        font-weight: bold;
        font-size: 24px; // Fallback if no image
        color: $color-primary;
    }

    &__nav {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 20px;
        }

        li {
            font-size: 14px;
            font-weight: bold;
            color: $color-primary;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__copyright {
        text-align: right;
        font-size: 10px;
        color: #999;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
}