@use '../variables' as *;

.section-gallery {
    background-color: #fcefe9; // Very light orange/pink tint often used
    padding-bottom: 100px;

    .gallery {
        &__grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 15px;
            max-width: 1000px;
            margin: 0 auto;
        }

        &__item {
            aspect-ratio: 1/1;
            background-color: #ccc;

            // Random colors for placeholder
            &:nth-child(odd) {
                background-color: #d7bde2;
            }

            &:nth-child(even) {
                background-color: #a9cce3;
            }
        }

        &__center-text {
            grid-column: 2 / span 2; // Center 2 columns
            grid-row: 2 / span 2; // Center 2 rows (making a hole in the grid)
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 20px;
        }
    }
}