@use 'variables' as *;

html {
    font-family: $font-family-base;
    color: $color-text;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;
    // Hide horizontal scrollbar if needed globally, though usually handle section by section
    // overflow-x: hidden; 
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.section {
    padding: 60px 0;

    &--orange {
        background-color: $color-primary;
        color: $color-text-white;
    }
}