// Colors
$color-primary: #ea8b07; // Orange background
$color-secondary: #f9e79f; // Button yellow
$color-accent: #a6e5a4; // Button green
$color-text: #333333;
$color-text-white: #ffffff;
$color-bg-white: #ffffff;

// Fonts
$font-ja: "Noto Sans JP", sans-serif;
$font-en: "Outfit", sans-serif;
$font-family-base: "Outfit", $font-ja; // 欧文はOutfit、和文はNoto Sans JP
$font-family-heading: $font-family-base;

// Breakpoints
$breakpoint-mobile: 768px;