@use 'variables' as *;
@use 'global';

// Components
@use 'components/buttons';

// Parts
@use 'parts/header';
@use 'parts/global-menu';
@use 'parts/hero';
@use 'parts/about';
@use 'parts/service';
@use 'parts/member';
@use 'parts/company';
@use 'parts/gallery';
@use 'parts/footer';