$primary-color: #c2bc08;

body {
    background-color: #fff;
    font-family: sans-serif;
    color: #211cc2;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: $primary-color;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;

    &:hover {
        background-color: darken($primary-color, 10%);
    }
}