@use 'variables' as *;
@use 'global';
@use 'base/utility-pages';

// Components
@use 'components/buttons';

// Parts
@use 'animation';
@use 'loader';
@use 'parts/header';
@use 'parts/global-menu'; // Global Menu
@use 'parts/hero';
@use 'parts/about';
@use 'parts/service';
@use 'parts/member';
@use 'parts/company';
@use 'parts/gallery';
@use 'parts/footer';